bin
gen
bin/*
gen/*
bin/fdesousa/app/SimplyBASIC/*
bin/fdesousa/app/SimplyBASIC/SimplyBASIC.class
# ignore java class files
*.class
# ignore binary/compiled files
*.[oa]
# ignore temporary files
*~
.classpath
default.properties
proguard.cfg
